body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #8360c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

nav .brand-logo {
  display: block;
  margin: auto;
  text-align: center;
  position: relative;
  font-size: 25px;
}

.input-field label {
  color: #000;
  
}

.input-field input[type=text]:focus + label {
  color: #000;
} 

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(20, 135, 135);
  box-shadow: 0 1px 0 0 #000;
  background: linear-gradient(to top, #2ebf91, #8360c3)
}

input[type=text]:not(.browser-default) {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  text-align: center;
  
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #000;
  -webkit-box-shadow: 0 1px 0 0 #000;
  box-shadow: 0 1px 0 0 #000;
  background: linear-gradient(to top, #2ebf91, #8360c3)
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: #000;
}

.container-form {
  border-top: 1px;
  padding: 8px 0 1px 0;
  padding-bottom: 35rem;
  
}

.buscador i {
  width: 100%;
}

.error {
  padding: 1rem!important;
  color:#000;
  margin-top: 3rem;
  text-align: center;
}

.card-panel h2 {
  font-size: 1.6rem;
  text-align: center;
}

.card-panel p {
  text-align: center;
  font-size: 1.4rem;
}

.temperatura {
  font-size: 4rem!important
}

.temperatura span {
  font-size: 2rem!important;
  vertical-align: super;
}

.btn-block {
  display: block!important;
}