.weatherIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.weatherIcons p {
    display: inline;
    vertical-align: center;
    font-size: 1.25em;

}

.weatherIcons img {
    display: inline;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}